# Compiled executables
*.exe
*.out
*.o

# VS Code specific files
.vscode/
HTML&CSS(BroCode)/4images/image7.png
HTML&CSS(BroCode)/Videos/file_example_WEBM_480_900KB.webm
HTML&CSS(BroCode)/Videos/vecna.mp4
.gitignore
.gitignore
